<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Data Viewer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Reference the external CSS file -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <h1>Excel Data Viewer</h1>
    <!-- Dropdown menu for selecting the sheet -->
    <div class="form-group">
        <label for="sheetSelector">Select a Sheet:</label>
        <select class="form-control" id="sheetSelector" onchange="selectSheet()">
            <option value="v20">V20 Sheet</option>
            <option value="v40">V40 Sheet</option>
            <option value="etf">ETF Sheet</option>
        </select>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <!-- Replace with actual table headers -->
                {% for header in column_headers %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
            <tr>
                <!-- Populate table data dynamically -->
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="btn-reload text-center">
        <form id="reloadForm" method="POST" onsubmit="showProgressBar()">
            <input type="hidden" id="selectedSheet" name="selectedSheet" value="v20">
            <button type="submit" id="reloadButton">Reload Data</button>
        </form>
    </div>
</div>

<script>
// JavaScript function to update the window location based on the selected sheet
function selectSheet() {
    var sheetSelector = document.getElementById("sheetSelector");
    var selectedSheet = sheetSelector.options[sheetSelector.selectedIndex].value;
    window.location.href = "/" + selectedSheet; // Redirect to the selected sheet route
}
</script>

</body>
</html>
